body {
    font-family: 'Open Sans Condensed', sans-serif !important;
    padding-top: 100px;
    font-size: 18px !important;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #115571 !important;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.child {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

.panel-default {
    border-color: none !important;
}

.panel {
    border: none !important;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.navbar-default {
    background-color: #31AFB4 !important;
    border-color: #31AFB4 !important;
    background-image: none !important;
    font-weight: 700 !important;
}

.navbar {
    background-image: none !important;
}

.pagination.pagination>li>a, .pagination>li>span {
    color: #31AFB4 !important;
}

.btn-success {
    color: #ffffff;
    font-weight: 700 !important;
    background-color: #115571 !important;
    border-color: #115571 !important;
    background-image: none !important;
}

/*-- /Tab Styles --*/
.tabs{
    background-color: #2A363B;
}
.tabs .tab a:hover, .tabs .tab a.active{
    color: #e84a5f;
}


/*-- Responsive Styling --*/
#login_img_container img{
    max-width: 75px;
    margin: 50px 0;
}

.valign-mobile-fix{
    margin-top: 150px;
}

@media only screen and (min-width: 768px){
    .comment-profile-img{
        max-width: 50px;
    }
    #login_img_container img{
        margin: 150px 0;
        max-width: 200px;
    }
    .valign-mobile-fix{
        margin-top: auto;
    }
}
