{% extends 'base.html' %}

{% block content %}
<div class="display">
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q">
        <button type="search">Search</button>
    </form>
</div>
<div class="row row-flex">
    
    {% for child in children %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="child" style="background-image: url('{{ MEDIA_URL }}{{ child.image }}')"></div>

                <h3>{{ child.name }}</h3>
                <p class="child-enjoys">Enoys: {{ child.enjoys }}</p>
                <p class="child-gender">Gender: {{ child.gender }}</p>
                <p class="child-birthday">Birthday: {{ child.birthday }}</p>

                <form method="post" action="{% url 'add_to_cart' child.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="donation" type="number" min="1" max="999999" class="form-control" placeholder="Donation in €">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
 <!-- Pagination -->
    {% if children.has_other_pages %}
        <ul class="pagination center">
            {% if children.has_previous %}
                <!-- This is for when user has searched - the custom URL will keep their search parameters when changing pages -->
                {% if custom_url %}
                    <li class="waves-effect"><a href="{{ custom_url }}&page={{ children.previous_page_number }}"><i class="material-icons">Next</i></a></li>
                {% else %}
                    <li class="waves-effect"><a href="?page={{ children.previous_page_number }}"><i class="material-icons">Next</i></a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">Previous</i></a></li>
            {% endif %}
            {% for i in children.paginator.page_range %}
                {% if children.number == i %}
                    <li class="active"><a href="#!">{{ i }}</a></li>
                {% else %}
                    <!-- This is for when user has searched - the custom URL will keep their search parameters when changing pages -->
                    {% if custom_url %}
                        <li class="waves-effect"><a href="{{ custom_url }}&page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if children.has_next %}
                <!-- This is for when user has searched - the custom URL will keep their search parameters when changing pages -->
                {% if custom_url %}
                    <li class="waves-effect"><a href="{{ custom_url }}&page={{ children.next_page_number }}"><i class="material-icons">Next</i></a></li>
                {% else %}
                    <li class="waves-effect"><a href="?page={{ children.next_page_number }}"><i class="material-icons">Next</i></a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">Next</i></a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}