{% extends "base.html" %}
{% block content %}
   
  {% if orderlineitems %}
    <h3>Your donations history: </h3>
  
    {% for orderlineitem in orderlineitems %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
      <div class="panel-body">
        <h3>Order number: {{orderlineitem.id}}</h3>
        <ul class="history-list">
          <li scope="row">Date of your order: {{ orderlineitem.order.date }}</li>
          <li scope="row">Child: {{ orderlineitem.child }}</li>
          <li scope="row">Donation: {{ orderlineitem.donation }} €</li>
        </ul>
      </div>
    </div>
    {% endfor %}

  {% else %}
    <h3>You have not made any donations yet. </h3>
  {% endif %} 
   
 
    
{% endblock %}