{% extends "base.html" %}
{% block content %}
   
  {% if orderlineitems %}
    <h3>Your donations history: </h3>
  
    {% for orderlineitem in orderlineitems %}
    <div class="history">
      <h4>Order number: {{orderlineitem.id}}</h4>
    <ul class="history-list">
      <li scope="row">Date of your order: {{ orderlineitem.order.date }}</li>
      <li scope="row">Child: {{ orderlineitem.child }}</li>
      <li scope="row">Donation: {{ orderlineitem.donation }} €</li>
    </ul>
    </div>
    {% endfor %}

  {% else %}
    <h3>You have not made any donations yet. </h3>
  {% endif %} 
   
    
{% endblock %}